<%- include("../partials/header.ejs") %>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Telephone num</th>
        <th>Create Order</th>
    </tr>
    <% for (const data of customers) { %>
        <tr>
            <td><%= data.kund_id %></td>
            <td><%= data.namn %></td>
            <td><%= data.adress %></td>
            <td><%= data.telephone %></td>
            <td>
                <a href="/initiate-creating-order/<%= data.kund_id %>/<%= data.namn %>"> Create Order</a>
            </td>
        </tr>
    <% } %>
</table>

<%- include("../partials/footer.ejs") %>
